.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

.App-header {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

main {
  height: 65vh;
  padding: 0 5% 0 5%; /* add some padding left and right */
}

.errors { 
  height: 10vh;
  color: red; 
  font-weight: bold;
  text-align: right;
  padding-right: 10px; 
}

footer {
  height: 5vh;
}

.chat {
  display: flex;
  height: 100%;
  /* border: 5px solid white; */
}

.chat-rooms {
  flex-basis: 30%;
  border: 2px solid white; 
  display: flex;
  flex-direction: column;
}

.chat-rooms-title, .active-room-title {
  border-bottom: 1px solid white;  
}

.chat-rooms ul {
  flex-grow: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.chat-rooms ul li {
  padding: 15px;
}

.chat-history {
  flex-basis: 70%;
  border: 2px solid white; 

  display: flex;
  flex-direction: column;
}

.chat-history textarea {
  width: 100%;
  height: 90%;
  color: white;
  background-color: transparent;
  border: none;
}

.chat-message {
  display: flex;
}
.chat-message button, .chat-message #user   {
  flex-basis: 100px; 
}
.chat-message #message {
  flex-grow: 1;
}

.App-link {
  color: #61dafb;
}
